body {
  display: flex;
}

#placeHolder {
  width: 630px;
  background-color: teal;
}

#listOfMoves {
  width: 200px;
  height: 560px;
  background-color: yellowgreen;
}

.square {
  display: inline-block;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  text-align: center;
}

.targetSquare {
  border-width: -20px;
  border-style: solid;
  border-color: yellow;
}

.whiteSquare {
  background-color: bisque;
}

.blackSquare {
  background-color: rgb(85, 66, 66);
}

.oneLine {
  display: flex;
  background-color: white;
  white-space: nowrap;
}

.addressLine {
  display: flex;
  justify-content: space-around;
  width: 560px;
}

.middleLine {
  padding: 5px;
  text-align: left;
  line-height: 70px;
}

.promotingPieces {
  display: flex;
  position: absolute;
}

.promotingPieces .square {
  width: 35px;
  height: 35px;
}

.promotingPieces .square:hover {
  width: 70px;
  height: 70px;
}
